@mixin grid($cols, $margin){
  float: left;
  background: #ce3d3d;
  margin-bottom: $margin;
  height: 150px;
  @if($cols>=5){
    width: 100%;
    margin-right: 0;
  }
  @else {
    width: ((100% - (($cols - 1)*$margin))/$cols);
    margin-right: $margin;
  }

  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}

@mixin link($link, $hover, $active, $visited){
  color: $link;

  &:hover{
    color: darken($link,100%);
  }
  &:active{
    color: $active;
  }
  @content
  //&:visited{
  //  color: $visited;
  //}
}
@mixin font ($fontW: bold,$color: blue ){
  font-size: $mainFontSize;
  font-weight: $fontW;
  font-family: Arial, sans-serif;
  color: $color;
}
@mixin padd ($color, $padd...){
  padding: $padd;
}