@import "variables";
@import "mixins";
*{
  padding: 0;
  margin: 0;
}

a{
  @include link(orange, red, blue, green);
}
.header{
  @include link(brown, red, blue,white){
    background: #000;
    &:visited{
      color:red;
    }
  };
}
#grid{
  float:left;
  width: 100%;
  div{
    @include grid(4 , 15%);
  }
}
@for $i from 24 to 29{
  .#{$someVar}-#{$i}{
    width: 50px+$i;
    height: 50px+$i;
  }
}
.block:not(.first){
  @include padd(blue, 20px 40px 30px 50px);
  background:$bgColor;
  height: 200px;
  border: $border;
  width: $blockWidth;
  margin-bottom: 20px;
}
#central_block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;

    li{
      float: left;
      width: (100%/2);
      //margin-right: 10px;
      a{
        @include font(bold, red);
        &:hover{
          color:green;
        }
      }
      //a:hover{
      //  color: green;
      //}
    }

  }
  a{
    @include font();

  }
}
.first{
  background:$bgColor;
  height: 200px;
  border: $border;
  width: $blockWidth;
  margin-bottom: 20px;
}